<p>taulells works!</p>

<div class="container">
    <div class="taula1">
        <div class="pecesCaigudes" *ngFor="let peca of pecesCapturades" >
            <img [src]="peca.imatge">
        </div>
        
        <table border="1" *ngFor="let fila of this.taulell.caselles; let i = index" class="taulell">
            <tr>
                <td *ngFor="let casella of fila; let j = index" [ngStyle]="{'background-color': casella.color} "
                    (dragover)="dragOver($event)"
                    (drop)="drop(this.taulell, i, j)"
                >
                    <img 
                        [draggable]="true" 
                        (dragstart)="dragStart(i, j)"
                        [src]="this.casella.peca.imatge">
                </td>
            </tr>
        </table>

        <div class="pecesCaigudes" *ngFor="let peca of pecesCapturades" >
            <img [src]="peca.imatge">
        </div>
    </div>
    <div class="taula2">
        <div class="pecesCaigudes" *ngFor="let peca of pecesCapturades" >
            <img [src]="peca.imatge">
        </div>

        <table border="1" *ngFor="let fila of this.taulell2.caselles; let i = index" class="taulell">
            <tr>
                <td *ngFor="let casella of fila; let j = index" [ngStyle]="{'background-color': casella.color} "
                    (dragover)="dragOver($event)"
                    (drop)="drop(this.taulell2, i, j)"
                >
                    <img 
                        [draggable]="true" 
                        (dragstart)="dragStart(i, j)"
                        [src]="this.casella.peca.imatge">
                </td>
            </tr>
        </table>

        <div class="pecesCaigudes" *ngFor="let peca of pecesCapturades" >
            <img [src]="peca.imatge">
        </div> 
    </div>
</div>
