<p>taulells works!</p>

<div class="container">
    <div class="taula1">
        <table border="1" *ngFor="let fila of this.taulell.caselles; let i = index" class="taulell">
            <tr>
                <td *ngFor="let casella of fila; let j = index" [ngStyle]="{'background-color': casella.color} "
                    (dragover)="dragOver($event)"
                    (drop)="drop(this.taulell, i, j)"
                >
                    <img 
                        [draggable]="true" 
                        (dragstart)="dragStart(i, j)"
                        [src]="this.casella.peca.imatge">
                </td>
            </tr>
        </table>
    </div>
    <div class="taula2">
        <table border="1" *ngFor="let fila of this.taulell2.caselles; let i = index" class="taulell">
            <tr>
                <td *ngFor="let casella of fila; let j = index" [ngStyle]="{'background-color': casella.color} "
                    (dragover)="dragOver($event)"
                    (drop)="drop(this.taulell2, i, j)"
                >
                    <img 
                        [draggable]="true" 
                        (dragstart)="dragStart(i, j)"
                        [src]="this.casella.peca.imatge">
                </td>
            </tr>
        </table>
    </div>
</div>
